@font-face {
    font-family:firaBlack ;
    src: url(../fonts/Fira_Sans/FiraSans-Light.ttf);
  }

  @font-face {
    font-family:firathin ;
    src: url(../fonts/Fira_Sans/FiraSans-Thin.ttf);
  }

  :root {
    --bg-color: #040427;
    --d-report-color: #4f3cac;
    --font-color: #222;
    --title-color: #0067e6;
    --title-background: #fff;
    --main-border: 1px solid rgba(255, 255, 255, 0.4);
    --main-bg: rgba(255, 255, 255, 0.4);
  }
  
  [data-theme="dark"] {
    --bg-color: #111;
    --font-color: #efefef;
    --title-color: #fec150;
    --title-background: #222;
    --main-border: 1px solid rgba(255, 255, 255, 0.2);
    --main-bg: rgba(25, 25, 25, 0.4);
  }

body{
    margin: 0px;
    padding: 0px;
}
#dashboard{
    background: var(--bg-color);
}

.dash-report .d-report img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
}
.dash-report .d-report h5{
    line-height: 1px;
    font-weight: lighter;
}

.dash-report .d-report{
    padding: 30px;
    color: #fff;
    font-family:firaBlack;
    background: var(--d-report-color);
    border-radius: 10px;
    height: 30vh;
}

.dash-report .d-day{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    border-radius: 10px;
    color: #4f3cac;
}

.dash-report .d-day span{
    color: #fff;
    font-family:firaBlack;
}
.dash-report{
    background: rgb(38, 28, 88);
    width: 25%;
    margin: 30px;
    border-radius: 10px;
}

/* ====== styling for dash-work==== */

.dash-work{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.dash-work .work{  
    border-radius: 10px;
    width: 200px;
    padding-top: 30px;
}

.dash-work .work .d-work{
    color: #fff;
    font-family:firaBlack; 
    background: #4f3cac;
    border-radius: 10px;
    padding: 25px;        
}

.dash-work .work .d-work .dots{
    float: right;

}

.dash-work .work .d-work .span-work{
   font-weight: bold;
   font-size: 12px;
}

.dash-work .work h2{
    line-height: 2px;
    font-size: 40px;
}

.dash-work .work p{
    font-family:firathin;
}

.dashboard-conatainer{
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;  
}

.m-work{
    margin-top: 25px;
}
.dash-works > div:first-child{
    background: rgb(248, 140, 98);
}
.dash-works > div:nth-child(2){
    background: rgb(133, 248, 98);
}
.dash-wor > div:first-child{
    background: rgb(78, 221, 246);
}
.dash-wor > div:nth-child(2){
    background: rgb(103, 12, 139);
}
.dash-w > div:first-child{
    background: rgb(241, 68, 189);
}
.dash-w > div:nth-child(2){
    background: rgb(241, 238, 31);
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .dashboard-conatainer{
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right:30px;  
    }
    .d-flex{
        display: flex;
    }
    .m-r{
        margin-left: 10px;
    }
    .dash-report .d-report{
        padding-top: 25px;
        padding-bottom: 75px;
        color: #fff;
        font-family:firaBlack;
        background: #4f3cac;
        border-radius: 20px;
        height: 10vh;
        font-size: 20px;
    }
    .dash-report{
        background: rgb(38, 28, 88);
        width: 100%;
        margin: 0px;
        border-radius: 10px;
    }
    .dash-report .d-report img{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 3px solid white;
        margin-top: 10px;
    }
    .day-spaces{
        justify-content: space-between;
    }

    /* ===== styling for the three rows to column ==== */

    .dash-work{
        margin: 0px;
        flex-direction: column;
        width: 100%;
    }

    .dash-work .work{  
        border-radius: 10px;
        width: 100%;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .dash-work{
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 60px;
    }

    .dash-work .work .d-work{
        color: #fff;
        font-size: 20px;
        font-family:firaBlack; 
        background: #4f3cac;
        border-radius: 10px;
        padding: 25px;        
    }

    .dash-work .work .d-work .span-work{
        font-weight: bold;
        font-size: 20px;
     }

    
}