@font-face {
    font-family:firaBlack ;
    src: url(../fonts/Fira_Sans/FiraSans-Light.ttf);
  }

  @font-face {
    font-family:firathin ;
    src: url(../fonts/Fira_Sans/FiraSans-Thin.ttf);
  }

body{
    margin: 0px;
    padding: 0px;
}
#dashboard{
    background: rgb(4, 4, 39);
}

.dash-report .d-report img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
}
.dash-report .d-report h5{
    line-height: 1px;
    font-weight: lighter;
}

.dash-report .d-report{
    padding: 30px;
    color: #fff;
    font-family:firaBlack;
    background: #4f3cac;
    border-radius: 10px;
    height: 30vh;
}

.dash-report .d-day{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    border-radius: 10px;
    color: #4f3cac;
}

.dash-report .d-day span{
    color: #fff;
    font-family:firaBlack;
}
.dash-report{
    background: rgb(38, 28, 88);
    width: 25%;
    margin: 30px;
    border-radius: 10px;
}

/* ====== styling for dash-work==== */

.dash-work{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.dash-work .work{
    
    border-radius: 10px;
    width: 180px;
    padding-top: 30px;
}

.dash-work .work .d-work{
    color: #fff;
    font-family:firaBlack; 
    background: #4f3cac;
    border-radius: 10px;
    padding: 25px;        
}

.dash-work .work .d-work .dots{
    float: right;
}
.dash-work .work .d-work .span-work{
   font-weight: bold;
   font-size: 12px;

}
.dash-work .work h2{
    line-height: 2px;
    font-size: 40px;
}

.dash-work .work p{
    font-family:firathin;
}


.dashboard-conatainer{
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.m-work{
    margin-top: 25px;
}
.dash-works > div:first-child{
    background: rgb(248, 140, 98);
}
.dash-works > div:nth-child(2){
    background: rgb(133, 248, 98);
}
.dash-wor > div:first-child{
    background: rgb(78, 221, 246);
}
.dash-wor > div:nth-child(2){
    background: rgb(103, 12, 139);
}
.dash-w > div:first-child{
    background: rgb(241, 68, 189);
}
.dash-w > div:nth-child(2){
    background: rgb(241, 238, 31);
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .dash-work{
        margin: 0px;
        flex-direction: column;
        width: 100%;
    }

    .dashboard-conatainer{
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px; 
        
    }

    .dash-report{
        background: rgb(38, 28, 88);
        width: 50%;
        margin: 30px;
        border-radius: 10px;
    }
}